  <div class='row'>
    <div class='card'>
      <div class='card-header'>{{blog.title}}</div>
      <div class='card-body'>
        <p class='card-text'>
          {{blog.content}}
        </p>
      </div>
      <div class='card-footer text-muted'>
        Posted by
        {{blog.user.username}}
        on
        {{blog.date}}
      </div>
    </div>
  </div>

  <h1>Make Comment</h1>
<div>
  <form id='save-post' class="">
    <textarea class="form-control mb-3" id='create-post-content' placeholder="Comment"></textarea>
    <button type="submit" id='create-post-save-button'>Save Comment</button>
    
    {{!-- TEST BUTTON --}}
    {{!-- <button type="submit" id='test'>test</button> --}}
    {{!-- TEST BUTTON --}}

  </form>
</div>