<h1>Create Post</h1>
<div>
  <form id='create-post-form' class="">
    <input class="form-control mb-3" id='create-post-title' type='text' placeholder="Title" />
    <textarea class="form-control mb-3" id='create-post-content' placeholder="Message"></textarea>
    <button id='create-post-save-button'>Save Post</button>
  </form>
</div>



