<h1>Edit Post</h1>
<div class="row">
  <div class="card">
    <div class="card-header">{{title}}</div>

    <textarea id="edit-blog-textarea" placeholder="Enter new content here.">{{content}}</textarea>

    <div class="card-footer text-muted">
      <button id="edit-blog-save-button" data-id="{{id}}">Save Edit</button>
    </div>
  </div>
</div>